<br><h1>ГЕНЕРАТОР ЗВІТІВ</h1>
<br><p>Заповніть необхідні поля та оберіть діюі</p><br>



<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <%= form_with url: "reports/report_by_dates", method: :get do |form| %>
          <%= form.label :from_r, "Оберіть період - Початок:" %>
          <%= form.date_field :from_r, value: valid_time_format %>
          <%= form.label :to_r, "Кінець:" %>
          <%= form.date_field :to_r, value: valid_time_format %>
          <br><br><br><br>
          <%= form.submit "Графік щоденних операцій", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%= form_with url: "reports/report_by_category", method: :get do |form| %>
          <%= form.label :from_r, "Оберіть період - Початок:" %>
          <%= form.date_field :from_r, value: valid_time_format %>
          <%= form.label :to_r, "Кінець:" %>
          <%= form.date_field :to_r, value: valid_time_format %>
          <br><br>
          <%#= form.label "Оберіть категорію: " %>
          <%#= form.collection_select :category_id, Category.all, :id, :name %>
          <br><br>
          <%= form.submit "Діаграма операцій в розрізі категорій", class: "btn btn-outline-success"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

