<br><h1>ГЕНЕРАТОР ЗВІТІВ</h1>
<br><p>Оберіть період!</p><br>

<%= form_with url: "#", local: true do |form| %>
  <%= form.label :start_date, "Початок:" %>
  <%= form.date_field :start_date, value: (Date.today - 1.month).strftime('%Y-%m-%d') %>
<br><br>
  <%= form.label :end_date, "Кінець:" %>
  <%= form.date_field :end_date, value: Date.today.strftime('%Y-%m-%d') %>
<br><br>
  <%= form.submit "Графік щоденних операцій", formaction: reports_report_by_dates_path, formmethod: "get", class: "btn btn-outline-success" %>
  <%= form.submit "Діаграма операцій в розрізі категорій", formaction: reports_report_by_category_path, formmethod: "get", class: "btn btn-outline-success" %>
<% end %>
