<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, "Сума:", style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :odate, "Дата:", style: "display: block" %>
    <%= form.datetime_field :odate, value: (DateTime::now.strftime('%Y-%m-%dT%H:%M:%S') if @operation.new_record?) %>
  </div>

  <div>
    <%= form.label :otype, "Категорія (в розробці):",style: "display: block" %>
    <%= form.text_field :otype %>
  </div>

  <div>
    <%= form.label :description, "Опис:", style: "display: block" %>
    <%= form.text_field :description %>
  </div>
<br>
  <div>
    <%= form.label :description, "Категорія:", style: "display: block" %>
    <%= select(:operation, :category_id, options_for_select(@categories)) %>
  </div>
  <br>
  <div>
    <%= form.submit "Створити операцію", class: "btn btn-outline-success" %>
  </div>
<% end %>
